.main-page {
  display: flex;
  &__side {
    flex: none;
  }
  &__content {
    flex: 1;
  }
}

.side-menu {
  &__ul {
    padding: 5px;
  }
  &__li + &__li {
    margin-top: 10px;
  }
  &__btn {
  }
}
