<div class="main-page">
  <div class="main-page__side side-menu">
    <ul
      class="side-menu__ul"
      *ngIf="routeConfigChildren && routeConfigChildren.length > 0"
    >
      <li class="side-menu__li" *ngFor="let route of routeConfigChildren">
        <div
          class="side-menu__btn side-menu-btn"
          *ngIf="
            route.path
              | transformer
                : MainPageRoutingType.getInstanceOfRelativePath as routeConfig
          "
          [class.side-menu-btn--active]="activatedPath === route.path"
          (click)="navigateTo(routeConfig.relativePath)"
        >
          <div
            class="side-menu-btn__img"
            [style.-webkit-mask-image]="
              routeConfig.imgSource
                | svgSource
                  : {
                      stroke: 'black',
                      fill: 'none',
                      'stroke-width': '1.5',
                      'stroke-linecap': 'round',
                      'stroke-linejoin': 'round'
                    }
                | imageUrl
            "
          ></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="main-page__content">
    <div
      class="main-page__router-animation-wrapper"
      [@slideInOut]="prepareRoute(outlet)"
    >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
