@use "main" as *;

.error-info {
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: $error-info-bg;
  border-left: 5px solid $error-info-tag;
  box-shadow: 0 0 10px -1px #666;
  opacity: 0;

  // Element
  &__icon {
    width: 20px;
    height: 20px;
    flex: none;
    transform: translateY(-2px);
    margin-right: 8px;
    align-self: flex-start;
    svg {
      width: 100%;
    }
    path {
      fill: #fff;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    color: $error-info-text;
    padding-right: 10px;
  }

  &__close {
    align-self: flex-start;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;

    path {
      fill: #fff;
    }
  }
}
