@use "../style-util/main.scss" as *;

.error-info-panel {
  width: 100%;
}

.error-info-backdrop {
  backdrop-filter: blur(3px);
  background-color: $error-info-backdrop;
  animation: fadeIn 0.5s forwards;
}

.skeleton {
  @keyframes shimmer {
    to {
      background-position: -100% 0;
    }
  }
  height: 10px;
  background-image: linear-gradient(90deg, #eee 0px, #fff 40px, #eee 80px);
  background-size: 300%;
  background-position: 100% 0;
  animation: shimmer 2s infinite;
  + & {
    margin-top: 10px;
  }
}
