@use "../style-util/main.scss" as *;

.error-info-panel {
  width: 100%;
}

.error-info-backdrop {
  backdrop-filter: blur(3px);
  background-color: $error-info-backdrop;
  animation: fadeIn 0.5s forwards;
}
