<div class="start-page">
  <div class="start-page__inner">
    <div class="start-page__body">
      <h1 class="start-page__title">Welcome to JiraRader</h1>
      <p class="start-page__description">
        <strong>JiraRader</strong> is a Chrome extension designed to help users
        track Jira issue updates. Please enter your Jira url below, and make
        sure you are logged in to your Jira account to connect. The extension
        will use the login credentials stored in your
        <strong>cookies</strong> for seamless integration.
      </p>

      <form
        class="start-page__form start-page-form"
        [formGroup]="form"
        (ngSubmit)="submitFormHandler()"
      >
        <div class="start-page-form__input">
          <label for="jiraUrl">Enter Your Jira URL:</label>
          <input
            type="text"
            id="jiraUrl"
            placeholder="https://yourcompany.atlassian.net"
            formControlName="jiraUrl"
          />
        </div>
        <app-error-msg
          class="start-page-form__error-msg"
          [show]="!!getFirstFormError()"
          [text]="getFirstFormError()"
        ></app-error-msg>
        <button
          class="start-page-form__connect-btn"
          [class.start-page-form__connect-btn--disabled]="
            (form.statusChanges | async) !== 'VALID'
          "
        >
          Connect to Jira
        </button>
      </form>
    </div>
    <div class="start-page__footer">
      <div class="start-page__copyright">
        Copyright © JiraRader. All rights reserved.
      </div>
    </div>
  </div>
</div>
