@use "main" as *;

.start-page {
  background-color: #f5f5f5;
  text-align: center;

  &__body {
    padding: 50px 30px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #02c58c;
  }

  &__description {
    font-size: 14px;
    color: #555;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
  }

  &__strong {
    font-weight: bold;
  }

  &__description + &__input {
    margin-top: 30px;
  }

  &__input {
    label {
      display: block;
      font-size: 14px;
      font-weight: bold;
      color: #555;
    }

    label + input {
      margin-top: 20px;
    }

    input {
      width: 100%;
      padding: 8px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-weight: 300;
    }
  }

  &__input + &__connect-btn {
    margin-top: 30px;
  }

  &__connect-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #02c58c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    font-weight: 300;
    &:hover {
      background-color: darken(#02c58c, 10%);
    }

    &:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      mask-image: url("^assets/images/gear.svg");
      mask-size: cover;
      transition: transform 1s;
      transform-origin: 50% 50%;
      margin-right: 10px;
    }

    &:hover::before {
      transform: rotate(180deg);
    }
  }

  &__footer {
    flex: none;
  }
  &__copyright {
    font-size: 10px;
    color: gray;
    text-align: center;
    padding-bottom: 20px;
  }
}
