$blue: #2196f3 !default;
$pink: #ec407a !default;
$red: #ef5350 !default;
$purple: #ab47bc !default;
$indigo: #5c6bc0 !default;
$teal: #26a69a !default;
$green: #66bb6a !default;
$yellow: #ffee58 !default;
$orange: #ffa726 !default;
$brown: #8d6e63 !default;
$grey: #dddddd !default;
$white: #ffffff !default;
$black: #000000 !default;
$lightblack: #495057 !default;

$primary: #02c58c !default;
$secondary: #5a5a5a !default;

//functional
$text-color: $black !default;
$link-color: $blue !default;

//share
$input-border: #ccc;
$error: #ef665b;
$error-msg-icon: $error;
$error-msg-text: #71192f;
$error-info-bg: rgb(50, 50, 50);
$error-info-tag: rgba(255, 99, 13, 1);
$error-info-backdrop: rgba(19, 19, 19, 0.448);
$error-info-text: #fff;

//app
$app-border: #ddd;
$main-side-icon: $secondary;
//start-page
$start-page-bg: #f5f5f5 !default;
$start-page-text-1: #555 !default;
$start-page-descrp: $start-page-text-1 !default;
$start-page-input-text: $start-page-text-1 !default;
