@use "./global-style/reset.scss";
@use "./global-style/helper.scss";
@use "./global-style/keyframes.scss";

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  opacity: 0;
  animation: fadeIn 0.75s forwards;
}
